.nav-div nav {
  background-color: rgb(164, 244, 162);
  display: flex;
  text-align: center;
  justify-content: space-between;
  height: 50%;
  width: 100%;
  /* position: fixed; */
  /* top: 1; */
}
.nav-div {
  position: fixed;
  top: 0;
  width: 100%;
  height: 90px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;

}
nav div {
  display: flex;
  gap: 10px;
}
.links {
  height: 100%;
  margin-right: 15px;
  display: flex;
  text-align: center;
  justify-content: center;
}

.link {
  padding-top: 8px;

  margin-left: 10px;
  color: black;
  border-radius: 8px;
  font-weight: 700;
}

.link:hover {
  color: white;
  background-color: rgb(39, 112, 38);
}

nav form {
  margin-top: 5px;
  margin-right: 200px;
  margin-left: 10px;
}

nav form input {
  width: 200px;
  height: 70%;
}

/* header */

.header {
  background-color: rgb(22, 178, 16);
  text-align: center;
  color: rgb(195, 255, 192);
  width: 100%;
  height: 100%;
}

.header i {
  margin-left: 10px;
  position: relative;
  top: 5px;
}

/* post */

.post {
  margin: 0 10px;
  margin-bottom: 10px;
  text-align: start;
  display: flex;
  flex-direction: column;
  background-color: rgb(216, 255, 216);
  padding: 15px;
  border-radius: 10px;
}
.postDate {
  font-size: small;
  margin-bottom: 5px;
}
.post .delete-btn {
  background-color: rgb(181, 20, 20);
  color: white;
  border: none;
  border-radius: 7px;
  margin-top: 10px;
  padding: 3px;
  width: 100px;
  cursor: pointer;
  margin-left: 15px;
}
.edit-btn {
  background-color: rgb(21, 75, 200);
  color: white;
  border: none;
  border-radius: 7px;
  margin-top: 10px;
  padding: 3px;
  width: 50px;
  cursor: pointer;
  margin-left: 5px;
}

.post .delete-btn:hover {
  background-color: rgb(207, 36, 36);
}
.edit-btn:hover {
  background-color: rgb(41, 101, 241);
}

/* new post */

.NewPost {
  background-color: rgb(216, 255, 216);
  margin: 10px 10%;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 10px;
  padding: 15px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.NewPost .newPostForm {
  display: flex;
  flex-direction: column;
  margin: 20px;
  height: 60%;
}

.NewPost .newPostForm label {
  margin-top: 10px;
  font-size: larger;
}

.NewPost .newPostForm input[type="text"] {
  height: 20px;
}
.post-body{
    resize: none;
    height: 100px;
}
.NewPost .newPostForm .post-btn {
  position: relative;
  top: 8px;
  width: 100px;
  text-align: center;
  padding: 2px;
  border-radius: 5px;
  border: solid green;
  background-color: green;
  color: white;
  cursor: pointer;
}

.NewPost .newPostForm .post-btn:hover {
  background-color: rgb(10, 167, 10);
  color: white;
}

.NewPost .newPostForm .btn {
  text-align: center;
}

/* missing */

.missing {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 245, 156);
  height: 100dvh;
  width: 100%;
  text-align: center;
  justify-content: center;
}

/* about */

.about {
  background-color: rgb(216, 255, 216);
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 80%;
  margin: 10px 0 0 0;
  border-radius: 10px;
  padding: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;

  
}

.contact {
  background-color: rgb(216, 255, 216);
  height: 55%;
  width: 60%;
  margin: 5%;
  margin-top: 4rem;
  border-radius: 10px;
  padding-bottom: 1%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.contact form {
  text-align: start;
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 90%;
  margin-left: 1%;
  margin-top: 20px;
  padding-top: 10px;
}

.contact input {
  margin-bottom: 10px;
  border: solid rgb(176, 122, 22) 1px;
  border-radius: 5px;
  height: 30px;
}
.contact label {
  color: black;
  font-weight: 500;
}

.contact textarea {
  height: 140px;
  border: solid rgb(176, 122, 22) 1px;
  border-radius: 5px;
}

.btn .contact-btn {
  margin-top: 5px;
  width: 80px;
  padding: 2px;
  border: solid green 1.4px;
  background-color: rgb(98, 221, 17);
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}
.btn {
  text-align: center;
  justify-self: center;
}
.contact .contact-btn:hover {
  background-color: rgb(107, 236, 20);
}

.Home{
  margin-bottom: 30%;
}

@media screen and (max-width: 600px) {
  
  .content {
    margin-top: 150px;
  }
  .nav-div{
    height: 110px;
  }
  .nav-div nav{
    display: flex;
    flex-direction: column;
    height: 70px;
  }
  .contact{
  margin: 40px 2px;
  width: 80%;
  }
}
